<!DOCTYPE HTML>
<html lang="en">
	<head>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>Codelitt | Technology, Marketing, and Business Strategy Consulting Firm</title>
		<meta name="description" content="Codelitt is a technology, marketing, and business strategy consulting firm focusing in new and digital media disrupt. We innovate, build, and break cool things for the interwebz that bring measurable business value to a number of companies.">
		<%= css :bootstrap %>
	</head>
	<body>
		<header>
			
		</header>
		<%= yield %>
	</body>
</html>